# Generals
$gapsIn = {{ .GapsIn }}
$gapsOut = {{ .GapsOut }}
$borderSize = {{ .BorderSize }}
$colActiveBorder2 = {{ .BorderActiveSecondary }}
$colActiveBorder1 = {{ .BorderActivePrimary }}
$colActiveBorderDeg = {{ .BorderActiveDegree }}deg
$colInactiveBorder = {{ .BorderInActivePrimary }}

# Decorations
$blur = {{ .BlurOption }}
$blurSize = {{ .BlurSize }}
$blurPasses = {{ .BlurPasses }}
$rounding = {{ .Rounding }}
$shadow = {{ .ShadowOption }}
$shadowRange = {{ .ShadowRange }}
$shadowRenderPower = {{ .ShadowRenderPower }}
$shadowColor = {{ .ShadowColor }}

$footOpacity = {{ .WindowRuleFootOpacity }}
