@define-color foreground {{ .Palette.Foreground }};
@define-color background {{ .Palette.Background }};
@define-color primary_accent {{ .Palette.AccentPrimary }};
@define-color secondary_accent {{ .Palette.AccentSecondary }};
@define-color primary_surface {{ .Palette.LayerSurface }};
@define-color secondary_surface {{ .Palette.LayerSurfaceRaised }};
@define-color primary_text {{ .Palette.TextPrimary }};
@define-color secondary_text {{ .Palette.TextSecondary }};

* {
  color: @foreground;
  font-family: "{{ .Theme.Theme.Fonts.Primary }}";
  font-size: {{ .Theme.Theme.Fonts.Size }}pt;
}

window#waybar {
  background: @background;
}

#workspaces button.active,
#pulseaudio,
#network,
#clock {
  background: @primary_surface;
  color: @primary_text;
}
