@define-color accent1 {{ .Accent1 }};
@define-color accent2 {{ .Accent2 }};

@define-color text {{ .Text }};
@define-color subtext-1 {{ .Subtext1 }};
@define-color subtext-2 {{ .Subtext0 }};

@define-color overlay2 {{ .Overlay2 }};
@define-color overlay1 {{ .Overlay1 }};
@define-color overlay0 {{ .Overlay0 }};

@define-color surface2 {{ .Surface2 }};
@define-color surface1 {{ .Surface1 }};
@define-color surface0 {{ .Surface0 }};

@define-color base {{ .Base }};
@define-color mantle {{ .Mantle }};
@define-color crust {{ .Crust }};

@define-color warning {{ .Warning }};
@define-color critical {{ .Critical }};
@define-color charging {{ .Charging }};

