[main]
font={{ .Font }}:size={{ .FontSize }}
pad={{ .PaddingX }}x{{ .PaddingY }}

[colors]
foreground={{ .Foreground }}
background={{ .Background }}

regular0={{ index .Colors 0 }}  # black
regular1={{ index .Colors 1 }}  # red
regular2={{ index .Colors 2 }}  # green
regular3={{ index .Colors 3 }}  # yellow
regular4={{ index .Colors 4 }}  # blue
regular5={{ index .Colors 5 }}  # magenta
regular6={{ index .Colors 6 }}  # cyan
regular7={{ index .Colors 7 }}  # white
bright0={{ index .Colors 8 }}   # bright black
bright1={{ index .Colors 9 }}   # bright red
bright2={{ index .Colors 10 }}   # bright green
bright3={{ index .Colors 11 }}   # bright yellow
bright4={{ index .Colors 12 }}   # bright blue
bright5={{ index .Colors 13 }}   # bright magenta
bright6={{ index .Colors 14 }}   # bright cyan
bright7={{ index .Colors 15 }}   # bright white

