$foreground     : {{ .Palette.Foreground }};
$background     : {{ .Palette.Background }};

$black          : {{ index .Palette.Colors 0 }};
$red            : {{ index .Palette.Colors 1 }};
$green          : {{ index .Palette.Colors 2 }};
$yellow         : {{ index .Palette.Colors 3 }};
$blue           : {{ index .Palette.Colors 4 }};
$magenta        : {{ index .Palette.Colors 5 }};
$cyan           : {{ index .Palette.Colors 6 }};
$white          : {{ index .Palette.Colors 7 }};

$black-bright   : {{ index .Palette.Colors 8 }};
$red-bright     : {{ index .Palette.Colors 9 }};
$green-bright   : {{ index .Palette.Colors 10 }};
$yellow-bright  : {{ index .Palette.Colors 11 }};
$blue-bright    : {{ index .Palette.Colors 12 }};
$magenta-bright : {{ index .Palette.Colors 13 }};
$cyan-bright    : {{ index .Palette.Colors 14 }};
$white-bright   : {{ index .Palette.Colors 15 }};


$accent-primary     : {{ .Palette.AccentPrimary }};
$accent-secondary   : {{ .Palette.AccentSecondary }};
$accent-on          : {{ .Palette.AccentOn }};

$text-primary       : {{ .Palette.TextPrimary }};
$text-secondary     : {{ .Palette.TextSecondary }};
$text-muted         : {{ .Palette.TextMuted }};
$text-link          : {{ .Palette.TextLink }};
$text-visited       : {{ .Palette.LinkVisited }};

$layer-base         : {{ .Palette.LayerBase }};
$layer-mantle       : {{ .Palette.LayerMantle }};
$layer-crust        : {{ .Palette.LayerCrust }};
$layer-surface      : {{ .Palette.LayerSurface }};
$layer-surface-raised  : {{ .Palette.LayerSurfaceRaised }};
$layer-surface-overlay : {{ .Palette.LayerSurfaceOverlay }};

$border-default     : {{ .Palette.BorderDefault }};
$border-active      : {{ .Palette.BorderActive }};
$border-medium      : {{ .Palette.BorderMedium }};

$status-success     : {{ .Palette.StatusSuccess }};
$status-warning     : {{ .Palette.StatusWarning }};
$status-error       : {{ .Palette.StatusError }};
$status-critical    : {{ .Palette.StatusCritical }};
$status-info        : {{ .Palette.StatusInfo }};

$fg-dim             : {{ .Palette.FgDim }};
$fg-dim-muted       : {{ .Palette.FgDimMuted }};
$fg-disabled        : {{ .Palette.FgDisabled }};

$bg-conflict        : {{ .Palette.BgConflict }};
$bg-disk-usage      : {{ .Palette.BgDiskUsage }};


$font-system   : "{{ .Theme.Theme.Fonts.System.Family }}";
$font-widget   : "{{ .Theme.Theme.Fonts.Widget.Family }}";
$font-terminal : "{{ .Theme.Theme.Fonts.Terminal.Family }}";
