$foreground     : {{ .Config.Palette.Foreground }};
$background     : {{ .Config.Palette.Background }};

$black          : {{ index .Config.Palette.Colors 0 }};
$red            : {{ index .Config.Palette.Colors 1 }};
$green          : {{ index .Config.Palette.Colors 2 }};
$yellow         : {{ index .Config.Palette.Colors 3 }};
$blue           : {{ index .Config.Palette.Colors 4 }};
$magenta        : {{ index .Config.Palette.Colors 5 }};
$cyan           : {{ index .Config.Palette.Colors 6 }};
$white          : {{ index .Config.Palette.Colors 7 }};

$black-bright   : {{ index .Config.Palette.Colors 8 }};
$red-bright     : {{ index .Config.Palette.Colors 9 }};
$green-bright   : {{ index .Config.Palette.Colors 10 }};
$yellow-bright  : {{ index .Config.Palette.Colors 11 }};
$blue-bright    : {{ index .Config.Palette.Colors 12 }};
$magenta-bright : {{ index .Config.Palette.Colors 13 }};
$cyan-bright    : {{ index .Config.Palette.Colors 14 }};
$white-bright   : {{ index .Config.Palette.Colors 15 }};


$accent-primary     : {{ .Config.Palette.AccentPrimary }};
$accent-secondary   : {{ .Config.Palette.AccentSecondary }};
$accent-on          : {{ .Config.Palette.AccentOn }};

$text-primary       : {{ .Config.Palette.TextPrimary }};
$text-secondary     : {{ .Config.Palette.TextSecondary }};
$text-muted         : {{ .Config.Palette.TextMuted }};
$text-link          : {{ .Config.Palette.TextLink }};

$layer-base         : {{ .Config.Palette.LayerBase }};
$layer-mantle       : {{ .Config.Palette.LayerMantle }};
$layer-crust        : {{ .Config.Palette.LayerCrust }};
$layer-surface      : {{ .Config.Palette.LayerSurface }};
$layer-surface-raised  : {{ .Config.Palette.LayerSurfaceRaised }};
$layer-surface-overlay : {{ .Config.Palette.LayerSurfaceOverlay }};

$border-default     : {{ .Config.Palette.BorderDefault }};
$border-active      : {{ .Config.Palette.BorderActive }};

$status-success     : {{ .Config.Palette.StatusSuccess }};
$status-warning     : {{ .Config.Palette.StatusWarning }};
$status-error       : {{ .Config.Palette.StatusError }};
$status-critical    : {{ .Config.Palette.StatusCritical }};
$status-info        : {{ .Config.Palette.StatusInfo }};


$primary-font   : "{{ .Config.Theme.Theme.Fonts.Primary }}";
$secondary-font : "{{ .Config.Theme.Theme.Fonts.Secondary }}";
